# dependencies
/node_modules
/.pnp
.pnp.*

# next.js
/.next/
/out/

# production
/build

# env files
.env*
.env*.local

# Debug and Logs (Root)
/*.js
/*.txt
/*.json
!package.json
!package-lock.json
!tsconfig.json
!vercel.json
!eslint.config.mjs
!postcss.config.mjs
!next.config.ts

# Large files / Images
*.webp
*.png
*.jpg
!public/**/*

# Misc
.DS_Store
*.pem
*.tsbuildinfo
